*, ::after, ::before{
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    height: 114rem;
}
/* *****************logo*************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90px;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}
header img{
    width: 200px;
    height: 50px;
}
/* ***************END logo************** */
#contact_modal {
    display: none;
}

main {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-inline: auto;
    margin-top: 40px;
}
main .photograph-header:nth-child(1){order: 1;}
main h5:nth-child(2){order: 3;}
main section:nth-child(3){order: 2;}

a {
    text-decoration: none;
}

/* **************total likes page et tarif*********** */
main h5 {
    margin: 0;
    display: flex;
    font-size: 24px;
    width: 376px;
    height: 67px;
    background-color: #DB8876;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 5%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
main h5 .heart{
    margin-right: 64px;
}
.nbLikesTotal{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: 15px;
}

/* ************************fin total likes page et tarif************************************* */

/* ********************************organisation de l'article********************* */

.photograph-header article :nth-child(1){order: 1;margin: 0;}
.photograph-header article :nth-child(2){order: 2;}
.photograph-header article :nth-child(3){order: 3;}

.photograph-header article{
    display: flex;
    flex-direction: column;
}

.photograph-header h1 {
    font-weight: 300;
    font-size: 4.6vw;
    color: #D3573C;
}
.photograph-header h3 {
    font-weight: 400;
    font-size: 1.9vw;
    line-height: 31.25px;
    color: #901C1C;
}

.photograph-header h4{
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 23.44px;
    color: #525252;
    margin: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    margin: 0;
    margin-inline: 100px;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    width: 87%;
}
/* ********************organisation du header de la page photographe *****************************/
.photograph-header button:nth-child(1) {order: 2;}
.photograph-header img:nth-child(2) {order: 3; width: 150px; height: 150px; border-radius: 50%}
.photograph-header article:nth-child(3) {order: 1;}
/* ********************************************************************************************* */

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-top: 100px;
    position: absolute;
    right: 100px;
    left: 100px;
    top: 15.8vw;
}
section article {
    width: 100%;
}
section article a {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.cardImg, .cardImgLightBox {
    width: 100%;
    height: 95%;
}
section article img, section article video {
    object-fit: cover;
    width: 100%;
    height: 22vw;
}

.cardText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.cardText:hover{
    scale: 1.05;
}

.cardText p, .cardText span, .cardTextLightBox {
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}
.cardText span {
    display: flex;
    width: 26%;
    text-align: right;
    align-items: center;
    justify-content:space-around;
    position: relative;
    gap: 7px;
    cursor: pointer;
}
.cardText span:hover{
    scale: 1.14;
}
.heart{
    color: #901C1C;
    width: 4vw;
    height: max-content;
}

/* *******************************MODAL START**************************** */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    scale: 1.07;
}
#contact_modal{
    justify-content: center;
    width: 100%;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;
    margin-inline: 30px;
}

.modal header {
    margin-top: auto;
    margin-left: auto;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 4vw;
}
.btn_close{
    width: 3vw;
}
.btn_close:hover {
    scale: 1.4;
}

.modal header h2 {
    font-size: 3.16vw;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    width: 100%;
    text-align: start;
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    align-items: end;
    font-size: 2.3vw
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
form textarea {
    width: 100%;
    height: 168px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    align-items: end;
}
/* ********************************MODAL END*********************** */
/* ******************************media modal start **************************/
.lightBox .cardImg{
    cursor: pointer;
}
.lightBox .cardImg:hover {
    scale: 1.05;
}
#mediaModal {
    width: 45vw;
    height: 45vw;
    visibility: hidden;
    border-radius: 5px;
    margin: auto;
    position: relative;
}

#left-arrow {
    font-size: 6vw;
    position: absolute;
    top: 40%;
    left: -12%;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#right-arrow {
    font-size: 6vw;
    position: absolute;
    top: 40%;
    right: -12%;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#left-arrow:hover, #right-arrow:hover {
    scale: 1.1;
    color: red;
}


#closeMediaModal {
    width: 3vw;
    position: absolute;
    top: 3%;
    right: -10%;
    cursor: pointer;;
}

#mediaModal article {
    width: 100%;
    position: absolute;
    height: -webkit-fill-available;
    z-index: -1;
}

.boxMediaElement {
    width: 100%;
    object-fit: cover;
    height: -webkit-fill-available;
}


.cardTextLightBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.boxmedia article{
    display: none;
}

article.active{
    display: block;
    animation: fade 2s;
} 

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/************************Media modal end ******************************************/