*, ::after, ::before{
    box-sizing: border-box;
}


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    height: 114rem;
}
/* *****************logo*************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90px;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}
header img{
    width: 200px;
    height: 50px;
}
/* ***************END logo************** */
#contact_modal {
    display: none;
}

main {
    position:relative;
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-inline: auto;
    margin-top: 40px;
}
main .photograph-header:nth-child(1){order: 1;}
main h5:nth-child(2){order: 3;}
main section:nth-child(3){order: 2;}

a {
    text-decoration: none;
}

/* **************total likes page et tarif*********** */
main h5 {
    margin: 0;
    display: flex;
    font-size: 2.6vw;
    width: 31vw;
    height: 6vw;
    background-color: #DB8876;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 5%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
main h5 .heart{
    margin-right: 64px;
}
.nbLikesTotal{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: 15px;
}

/* ************************fin total likes page et tarif************************************* */

/* ********************organisation de l'article contenant NOM, VILLE, TAGLINE********************* */

.photograph-header article :nth-child(1){order: 1;margin: 0;}
.photograph-header article :nth-child(2){order: 2;}
.photograph-header article :nth-child(3){order: 3;}

.photograph-header article{
    display: flex;
    flex-direction: column;
}

.photograph-header h1 {
    font-weight: 300;
    font-size: 4.6vw;
    color: #D3573C;
}
.photograph-header h3 {
    font-weight: 400;
    font-size: 1.9vw;
    line-height: 31.25px;
    color: #901C1C;
}

.photograph-header h4{
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 23.44px;
    color: #525252;
    margin: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    margin: 0;
    margin-inline: 67px;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 9%;
    width: 87%;
}
/* ********************organisation du header de la page photographe ARTICLE / BTN CONTACT / PORTRAIT *****************************/
.photograph-header button:nth-child(1) {order: 2;}
.photograph-header img:nth-child(2) {order: 3; width: 150px; height: 150px; border-radius: 50%}
.photograph-header article:nth-child(3) {order: 1;}
/* ********************************************************************************************* */
/*****************************selecteur de tri des photos POP / DATE / TITRE start******************  */
.select-control {
    display: flex;
    position: absolute;
    top: 17vw;
    width: 30%;
    align-items: center;
    left: 100px;
    gap: 32px;
    justify-content: space-between;
}
label {
    font-size: 2.6vw;
}

#select {
    width: 15vw;
    height: 5vw;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 2.6vw;
}
#select:hover, #select:focus {
    transform: scale(1.04);
}

select option{
    border-bottom: 2px solid white;
}
/*****************************selecteur de tri des photos POP / DATE / TITRE end******************  */
/* **************************Grill des photos avec titre / nb Likes / coeur******************* */
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-top: 100px;
    position: absolute;
    right: 100px;
    left: 100px;
    top: 20.8vw
}
section article {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.cardImg {
    width: 100%;
    height: 95%;
}
.cardImg{
    cursor: pointer;
}
.cardImg:hover, .cardImg:focus {
    transform: scale(1.05);
}
section article img, section article video {
    object-fit: cover;
    width: 100%;
    height: 22vw;
}

.cardText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.cardText:hover, .cardText:focus {
    transform: scale(1.05);
}

.cardText p, .cardText span, .cardTextLightBox {
    font-size: 24px;
    color: #901C1C;
    margin: 0;
    flex-shrink: 17;
}
.cardText span {
    display: flex;
    width: 26%;
    text-align: right;
    align-items: center;
    justify-content:space-around;
    position: relative;
    gap: 7px;
    cursor: pointer;
}
.cardText span:hover, .cardText span:focus {
    transform: scale(1.14);
}
.heart{
    color: #901C1C;
    width: 2.9vw;
    height: max-content;
}

/* *******************************MODAL FORMULAIRE DE CONTACT START**************************** */
.contact_button {
    font-size: 1.6vw;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 17vw;
    height: 5vw;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
    transform: scale(1.07);
}
#contact_modal{
    justify-content: center;
    width: 100%;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;
    margin-inline: 30px;
}

.modal header {
    margin-top: auto;
    margin-left: auto;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 4vw;
}
.btn_close:focus{
    width: 3vw;
}
.btn_close:hover, .btn_close:focus {
    transform: scale(1.4);
}

.modal header h2 {
    font-size: 3.16vw;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    width: 100%;
    text-align: start;
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    align-items: end;
    font-size: 2.3vw
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
form textarea {
    width: 100%;
    height: 168px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    align-items: end;
}
/* ********************************MODAL FORMULAIRE DE CONTACT END*********************** */
/* ******************************MODAL MEDIA LIGHTBOX START **************************/

#mediaModal {
    width: 45vw;
    height: 45vw;
    visibility: hidden;
    border-radius: 5px;
    margin: auto;
    position: relative;
}

#left-arrow {
    font-size: 6vw;
    position: absolute;
    top: 40%;
    left: -12%;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#right-arrow {
    font-size: 6vw;
    position: absolute;
    top: 40%;
    right: -12%;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#left-arrow:hover, #right-arrow:hover, #left-arrow:focus, #right-arrow:focus {
    transform: scale(1.1);
    color: red;
}


#closeMediaModal {
    width: 3vw;
    position: absolute;
    top: 3%;
    right: -10%;
    cursor: pointer;;
}

#mediaModal article {
    width: 100%;
    position: absolute;
    height: -webkit-fill-available;
}

.boxMediaElement {
    width: 100%;
    object-fit: cover;
    height: -webkit-fill-available;
}
.cardImgLightBox{
    width: 100%;
    height: 100%;
    display: contents;
}

.cardTextLightBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.boxmedia article{
    display: none;
}

article.active{
    display: block;
    animation: fade 2s;
} 

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/************************MODAL MEDIA LIGHTBOX END  ******************************************/