*{
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 50px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    color:#901C1C;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 12px;
}

h3, h4, h5 {
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
}
a:hover, a:focus {
    scale: 1.05;
    background-color: #e38570;
    border-radius: 10%;
    width: 140%;
}
a:hover #name {
        color: white;
}


.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    align-items: start;
    padding-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}